@page
@model Aluno.Pages.Estudantes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Aluno</h1>

<div>
    <h4>Alunos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Nacimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Nacimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Notas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Notas)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Alunos.ID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
